<h1>{{movie.title}}</h1>
<img src="{{movie.movieThumbnail}}">
<div id="rating"><span><strong>Rating: </strong> </span>{{movie.rating}} <img class="one" src="https://cms-assets.tutsplus.com/uploads/users/34/posts/30118/preview_image/star-rating.jpg"></div>
<div id="releaseDate"><span><strong>Release Date: </strong> </span>{{movie.releaseDate}}</div>
<div id="runtime"><span><strong>Runtime: </strong> </span>{{movie.runtime}} minutes</div>
<div id="description"><span><strong>Description: </strong> </span>{{movie.description}}</div>
