body {
    margin-left: 230px;
    max-width: 75%;
}
h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

img {
    width: 250px;
    height: 350px;
    float: left;
    margin-bottom: 30px;
    padding-right: 15px;
}

img.one{
    width: 18px;
    height: 13px;
    float: right;

}

#rating {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

#runtime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

#releaseDate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

#description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 5px;
}